/* -----------------------------------------------------------------------------
 * transactions-tab
 * -------------------------------------------------------------------------- */
#transactions-tab h1 {
    float: left;
    font: normal normal 18px/18px Aller;
    margin: 30px 0 10px 60px;
}

#transactions-table {
	margin: 0 40px 20px 80px;
	width: 820px;
}

#transactions-table .center {
	text-align: center;
}

#transactions-table .number {
	text-align: right;
}